* {
  box-sizing: border-box;
}

.info h3,
.info p,
.info h4 {
  margin: 4px 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 28px;
    margin-bottom: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.avatar {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20)
     
}

.avatar:hover {
  transform: scale(1.2);
}

.card-frame {
  display: inline-block;
  border: 3px solid #000;                 /* black border OUTER */
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  border-radius: 6px; /* shadow OUTSIDE black border */
}


.card {
    width: 520px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
    color: #2b2839;
    background-color: #F7F7F7;
    border-radius: 4px;
    background-clip: padding-box;
    border: 25px solid #FFF178;  
}



.info {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.3;
}
